<div class="card">
  <div class="card-header text-center text-white bg-danger">
    {{ dayOfWeek | uppercase }}
  </div>
  <div class="card-body">
    <h6 class="card-title text-danger">Breakfast</h6>
    <div class="input-group mb-3">
      <select class="custom-select" id="meal{{dayOfWeek}}1"
              (change)="updatePlanner({{dayOfWeek}}, 'Breakfast', $event.target.value)">
        <option selected>{{mealplan[dayOfWeek]['Breakfast']}}</option>
        <option *ngFor="let meal of meals" value="meal">{{ meal }}</option>
      </select>
    </div>

    <h6 class="card-title text-danger">Lunch</h6>
    <div class="input-group mb-3">
      <select class="custom-select" id="meal{{dayOfWeek}}2"
              (change)="updatePlanner({{dayOfWeek}}, 'Lunch', $event.target.value)">
        <option selected>{{mealplan[dayOfWeek]['Lunch']}}</option>
        <option *ngFor="let meal of meals" value="meal">{{ meal }}</option>
      </select>
    </div>

    <h6 class="card-title text-danger">Snack</h6>
    <div class="input-group mb-3">
      <select class="custom-select" id="meal{{dayOfWeek}}3"
              (change)="updatePlanner({{dayOfWeek}}, 'Snack', $event.target.value)">
        <option selected>{{mealplan[dayOfWeek]['Snack']}}</option>
        <option *ngFor="let meal of meals" value="meal">{{ meal }}</option>
      </select>
    </div>

    <h6 class="card-title text-danger">Dinner</h6>
    <div class="input-group mb-3">
      <select class="custom-select" id="meal{{dayOfWeek}}4"
              (change)="updatePlanner({{dayOfWeek}}, 'Dinner', $event.target.value)">
        <option selected>{{mealplan[dayOfWeek]['Dinner']}}</option>
        <option *ngFor="let meal of meals" value="meal">{{ meal }}</option>
      </select>
    </div>

  </div>
</div>
