<!-- Meal Planner page -->

<app-navbar></app-navbar>

<div id="content" class="container py-5 px-0">
  <h2 id="pageHeader">My Meal Planner</h2>
  <div *ngIf="!meals || meals.length == 1">
    You haven't saved any recipes yet.
    <a href="http://localhost/FridginCool/PHP/meals.php?session={{session}}">Add a meal</a>
  </div>
  <div *ngIf="!mealplan">
    You haven't planned any meals yet. Select one of your saved meals!
  </div>
  <div class="row py-4 px-3">
    <div class="col px-0" *ngFor="let day of week">
      <app-day [dayOfWeek]="day" [meals]="meals" [mealplan]="mealplan" [sessionID]="session"></app-day>
    </div>
  </div>
</div>

<footer class="primary-footer bg-dark text-white">
  <small class="copyright">&copy; 2021 Jennifer Long (rz5sc), Alex Shen (as5gd)</small>
</footer>
